body {
    font-family: sans-serif;
    padding: 2em;
}

.db-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.db-button {
    background-color: #eee;
}

.toggle-btn {
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
}
.sub-row td {
    background: #f9f9f9;
    padding-left: 50px;
    opacity: 0.5;
}
